.overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.164);
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
}

.overlayContentContainer {
    width: 400px;
    height: 640px;
    background-color: white;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    position: relative;
}

.pokemonOverlayCardImage {
    width: 160px;
    z-index: 10;
    filter: drop-shadow(8px -4px 0px #00000085);
    transition: 0.2s ease-in-out;
    position: relative;
}

.pokemonOverlayImageBackground {
    height: 140px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
    top: 160px;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 1;
}

.stats {
    width: 300px;
}

.stats table {
    width: 300px; ;
    border-collapse: collapse;
}

.stats table td {
    border: 1px solid var(--primary-color);
    padding: 4px;
}

.stats table tr:nth-child(even) {
    background-color: rgb(221, 221, 221);
}

.switchButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.switchButtons button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: none;
    background-color: var(--primary-color);
    cursor: pointer;
}

.switchButtons button img{
    width: 100%;
}

.closeOverlayButton {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    font-weight: 900;
    font-size: large;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: none;
    color: white;
    aspect-ratio: 1/1;
    width: 40px;
    cursor: pointer;
}

@media (max-width: 470px){
    .overlayContentContainer {
        width: 320px;
        padding: 40px;    }

    .stats table {
        width: 240px;
        margin-inline: auto;
    }
}

@media (max-width: 390px){
    .overlayContentContainer {
        width: 240px;
        padding: 20px;
    }

    .stats table {
        width: 180px;
        margin-inline: auto;
    }

    .types{
        gap: 24px;
    }
}